{% extends "base.html" %}

{% block content %}

<div ng-controller="myCtrlFav" ng-init="initfunc()">

    <div id="msg-popup-container" class="transition">
        <div id="msg-popup" class="transition ghost">
            Book Added To Saved!
        </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Book Info</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="book-img" ng-src="//current_book[3]//"/>
                        </div>
                        <div class="col-xs-8">
                            <h4>
                                <strong>
                                    //current_book[0]//
                                </strong>
                            </h4>
                            <p><strong>By</strong>: <em>//current_book[1]//</em></p>
                            <br/>
                            <p><strong>Published</strong>: //current_book[2]//</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="padding-top: 15px;">
        <div class="row">
        <div class="col-md-4">
            <div class="bookbox">
                <div id="search-box">
                    <h3 class="text-center"><strong>Search For Books</strong> </h3>
                    <input type="text" class="mid" placeholder="Title" ng-model="query"/>
                    <br/>
                    <p class="text-center"><a class="btn btn-success transition" ng-click="searchBooks()">Search</a> </p>
                    <p class="text-center"><a class="btn btn-danger transition" ng-click="clearResults()">Clear Results</a></p>
                    <br>
                    <p class="text-center" id="msg"></p>
                </div>

                <div id="loading-box" style="display: none;">
                    <img class="middlr" src="static/Loading_icon.gif" width="175px" />
                </div>

            </div>

            <div class="bookbox">
                <div id="result-box">
                    <h3 class="text-center"><strong>Results</strong></h3>
                    <p class="text-center" id="query"></p>
                    <hr/>
                    <ul id="results-list">
                        <li ng-repeat="book in result_books">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="book-img" ng-src="//book.volumeInfo.imageLinks.thumbnail//">
                                </div>
                                <div class="col-md-8">
                                    <h4>
                                        <strong>
                                            //book.volumeInfo.title//
                                        </strong>
                                    </h4>
                                    <p><strong>By</strong>: <em>//book.volumeInfo.authors[0]//</em></p>
                                    <p><strong>Published</strong>: //book.volumeInfo.publishedDate//</p>
                                    <p class="text-left"><a class="btn btn-success transition" ng-click="addBook(this.book)">Add To Be Read</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
        <div class="col-md-8">
            <div class="bookbox">
                <div id="books-box">
                    <h3 class="text-center"><strong>Books</strong></h3>
                    <p class="text-center"></p>
                    <hr/>
                    <ul id="mybooks-list">
                        <li ng-repeat="book in books | filter:filterData">
                            <div  class="row transition" >
                                <div div title="Show This Book's  Infos" ng-click="showBook(book)"  class="col-md-12">
                                    <img class="book-img-2" ng-src="//book[3]//">
                                </div>
                                <div class="col-md-12">
                                    <h4>
                                        <strong>
                                            //book[0]//
                                        </strong>
                                    </h4>
                                    <!--<strong>Favorite:</strong>-->
                                    <!--<input type="checkbox" ng-model="book[5]"ng-init="book[5]=false" ng-disabled="tobeVal">-->
                                    <!--<strong>Read:</strong>-->
                                    <!--<input ng-checked="true" type="checkbox" ng-model="book[4]"ng-init="book[4]=true" ng-disabled="tobeVal">-->
                                    <!--<strong>To Be Read:</strong>-->
                                    <!--<input type="checkbox" ng-model="book[6]"ng-init="book[6]=false" ng-disabled="favoVal || readVal">-->

                                    <!--<button type="submit" class="btn btn-success col-lg-pull-6" ng-click="change1(book)">Save</button>-->
                                    <button type="submit" class="btn btn-primary col-lg-pull-6" ng-click="sendtoread(book)">Send to Read</button>
                                    <button type="submit" class="btn btn-info col-lg-pull-6" ng-click="sendtofav(book)">Add to Favorite</button>
                                    <button type="submit" class="btn btn-success col-lg-pull-6" ng-click="sendtoberead(book)">Send to be Read </button>
                                    <button type="submit" class="btn btn-danger col-lg-pull-6" ng-click="deleteBook(book)">Remove</button>
                                    <hr/>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>


</div>


{% endblock %}