{% extends "base.html" %}

{% block content %}

<div ng-controller="myCtrlFav">


    <div class="container">
        <div class="row">
            <div class="cell" ng-repeat="x in books">
                    <a>
                        <figure>
                            <img src="//x.imageURL//" height="233" width="150">
                        </figure>
                    </a>
                    <span>Book Name: // x.bookname //</span><br>
                    <span>Author Name: // x.authorname //</span><br>
                    <span>Written Year: // x.year //</span><br>
                    <button ng-click="deleteBook(x)">Delete</button>
            </div>
        </div>
    </div>

</div>


{% endblock %}