{% extends "base.html" %}

{% block content %}

<div ng-controller="myCtrl">

        <div class="container">
            <div class row></div>
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="box">
                    <div id="add-box">
                        <h2 class="text-center">Add Book to Library</h2>
                        <h4><strong>Book name:</strong><br></h4>
                        <input type="text" ng-model="bookName" /><br><br>
                        <h4><strong>Author Name:</strong><br></h4>
                        <input type="text" ng-model="authorName"/><br><br>
                        <h4><strong>Writen year:</strong><br></h4>
                        <input type="text" ng-model="writtenYear"/><br><br>
                        <h4><strong>Image URL:</strong><br></h4>
                        <input type="text" ng-model="imageURL"/><br><br>
                        <strong>Favorite:</strong>
                        <input type="checkbox" ng-model="favoVal"ng-init="favoVal=false" ng-disabled="tobeVal">
                        <strong>Read:</strong>
                        <input ng-checked="true" type="checkbox" ng-model="readVal"ng-init="readVal=true" ng-disabled="tobeVal">
                        <strong>To Be Read:</strong>
                        <input type="checkbox" ng-model="tobeVal"ng-init="tobeVal=false" ng-disabled="favoVal || readVal">
                        <button type="button" class="btn btn-success pull-right" ng-click="change1()">Save</button>
                    </div>
                </div>


            </div>
            <div class="col-md-2"></div>

            </div>
        </div>



</div>


{% endblock %}