{% extends "base.html" %}

{% block content %}

<div ng-controller="myCtrl">
    <form>
    Favorite:
    <input type="checkbox" ng-model="favoVal"ng-init="favoVal=false" ng-disabled="tobeVal">
    Read:
    <input type="checkbox" ng-model="readVal"ng-init="readVal=false" ng-disabled="tobeVal">
    To Be Read:
    <input type="checkbox" ng-model="tobeVal"ng-init="tobeVal=false" ng-disabled="favoVal || readVal">
    <br>
    Book name:
    <input type="text" ng-model="bookName" /><br>
    Author Name:
    <input type="text" ng-model="authorName"/><br>
    Writen year:
    <input type="text" ng-model="writtenYear"/><br>
    <button ng-click="change1()">Save</button>

    </form>

    <br><br>
    <p>
        <span data-ng-bind="lastName"></span>
    </p>

</div>


{% endblock %}